<% @page_title="Login Page" %>

<div id="jibber">
<span id="welcome_message"> Latest Activity on Jibber-Jabber </span>
<%= render :partial => "jibbers/jibbers"%>
</div>

<div class="user_card">
<%= form_for(@user , :url => login_path) do |f| %>
  <span class="error"><%=  flash[:notice] if flash[:notice] %></span>

       <br/><%= f.text_field :username , :placeholder => "Username"%>
       <br/><%= f.password_field :password , :placeholder => "Password"%>
       <br/><span id="login_button"><%= f.submit "Sign-in" %></span>
    
 
<% end %>

 <span id="login_caption"> New User? </span>
 <span id="link_to_login"><%= link_to "Register here", new_user_register_path%></span>
</div>


