<html>
	<head>
		<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
		<title>JibberJabber</title>
		<%= stylesheet_link_tag :all %>
		<%= javascript_include_tag :all %>
		<%= csrf_meta_tag %>
		</head>
	<body >
		
  <!-- Title bar -->	
		<div id="title" class="top_to_bottom_gradient" align="left">
			<div id="title_text_left">Jibber Jabber</div> 
			<div id="title_text_right">Total User: <%=User.count%>, Total Jibbers: <%=Jibber.jibbers.count%>, Total Jabbers: <%=Jibber.jabbers.count%> </div>
		</div>
		
  <!-- Main Content -->		 
		<div id="content">
			<%= yield %>
		</div>
		 <!-- Footer -->
		<div id="footer">
			<ul class="footerlist">  
				<li>List 1 Option 1</li>  
				<li>List 1 Option 2</li>
				<li>List 1 Option 3</li>
			</ul>
			<ul class="footerlist">  
				<li>List 2 Option 1</li>  
				<li>List 2 Option 2</li>
				<li>List 2 Option 3</li>
			</ul>
			<ul class="footerlist">  
				<li>List 3 Option 1</li>  
				<li>List 3 Option 2</li>
				<li>List 3 Option 3</li>
			</ul>
		</div>
	</body>
</html>
